# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Ans:

A Database is defined as a collection of logically related data stored together that is desined to meet the information needs of an orgnization. It can contain one data file or large number of data files depending on orgnization needs. It is shared collection of logically related data designed to meet the information needs of an orgnization.
1. A database is a shared collection --can be used simultaneously by many departments and users.
2. It is logically related--comprise the important objects and the relationships between these objects.
3. It is a description of the data-- the system catalog provides description of data to enable data independence.

# Differentiate between SQL and NoSQL databases

SQL Databases:
Data Structure:

SQL databases are relational, meaning they use a structure called tables to organize data, and the relationships between these tables are defined by using keys.
Data is usually stored in a predefined schema, and each row in a table represents a record.

Schema:

SQL databases are schema-based, and any change in the structure requires altering the schema.
The schema defines the structure of the data and the relationships between different tables.

Scalability:

SQL databases are typically scaled vertically by adding more power (CPU, RAM, SSD) to a single server.
Vertical scaling has limitations, and there is a practical limit to the amount of resources you can add to a single machine.

Consistency:

SQL databases follow the ACID properties (Atomicity, Consistency, Isolation, Durability), ensuring a high level of data integrity and consistency.
ACID compliance is critical for applications where data accuracy is of utmost importance, such as financial systems.

Examples:

MySQL, PostgreSQL, Oracle, SQL Server.

NoSQL Databases:
Data Structure:

NoSQL databases are non-relational and can store data in various formats like document-oriented, key-value pairs, wide-column stores, or graph databases.
Each record can have different fields, and there is no need for a predefined schema.

Schema:

NoSQL databases are schema-less, allowing developers to insert data without first defining its structure.
This flexibility is beneficial when dealing with evolving or unpredictable data.

Scalability:

NoSQL databases are typically scaled horizontally by adding more servers to the database.
Horizontal scaling allows for distributing the load across multiple machines, making it easier to handle large amounts of data and traffic.

Consistency:

NoSQL databases often sacrifice strict consistency for performance and scalability.
They may follow the CAP theorem (Consistency, Availability, Partition Tolerance), where a trade-off is made between these three factors.

Examples:

MongoDB (document-oriented), Cassandra (wide-column store), Redis (key-value store), Neo4j (graph database).

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# Ans:

Data Definition Language(DDL):A database system provides a data definition language to specify database schema. A database schemema is specified by a set of definition expressed by a special language called a data-definition language.
    --Allows the DBA or user to describe and name entites, attributes, and reltionships required for the application.
    --It also includes and associated integrity and security constraints.

1. CREATE:
The CREATE statement is used to create a new table in a database.

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    job_title VARCHAR(100)
);

2. DROP:
The DROP statement is used to delete a database object (table, view, etc.).

DROP TABLE employees;

3. ALTER:
The ALTER statement is used to modify the structure of an existing database object.

ALTER TABLE employees
ADD COLUMN salary DECIMAL(10, 2);

4. TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while retaining the table structure for future use.

TRUNCATE TABLE employees;

Potential Output:
After the CREATE statement, you would see a message indicating that the table has been created.
After the DROP statement, you would see a message indicating that the table has been dropped.
After the ALTER statement, you might see a message indicating that the table has been altered.
After the TRUNCATE statement, you might not get a message, but if you query the table, it would return an empty result set.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Ans:

Data Manipulation Language(DML): Provides basic data manipulation operations on data held in the database.

Data manipulation is 
  * Retrievel of information
  * Insrtion of new information
  * Deletion of information
  * Modification of information
The language used to manipulate data in the database is called Data Manipulation Language(DML).

The INSERT, UPDATE, and DELETE statements are used to manipulate data in a relational database.

1. INSERT:
The INSERT statement is used to add new records (rows) into a table.

INSERT INTO employees (employee_id, first_name, last_name, job_title, salary) 
VALUES (1, 'John', 'Doe', 'Software Engineer', 75000.00);

2. UPDATE:
The UPDATE statement is used to modify existing records in a table based on a specified condition.

UPDATE employees
SET salary = 80000.00
WHERE employee_id = 1;

3. DELETE:
The DELETE statement is used to remove records from a table based on a specified condition.

DELETE FROM employees
WHERE employee_id = 1;

Always be cautious when using DELETE as it permanently removes data from the table.
The UPDATE and DELETE statements often include a WHERE clause to specify which records should be affected. Without a WHERE clause, all records in the table may be affected.

# Q4. What is DQL? Explain SELECT with an example.

# Ans:

Data Query Language, is a subset of SQL (Structured Query Language) that specifically deals with the retrieval of data from a database. The primary command used for querying data is SELECT. DQL is focused on extracting information from the database rather than modifying it.

SELECT Statement:
The SELECT statement is used to retrieve data from one or more tables in a database.
It allows you to specify the columns you want to retrieve, filter the rows based on certain conditions, and order the results.

SELECT first_name, last_name, salary
FROM employees;

In [ ]:
SELECT first_name, last_name, salary specifies the columns you want to retrieve.

FROM employees specifies the table from which you want to retrieve the data.

+------------+-----------+--------+
| first_name | last_name | salary |
+------------+-----------+--------+
| John       | Doe       | 75000  |
| Jane       | Smith     | 80000  |
| Mark       | Johnson   | 70000  |
| ...        | ...       | ...    |
+------------+-----------+--------+

# Q5. Explain Primary Key and Foreign Key.

# Ans:

Primary Key:

A primary key is used to uniquely identify each row in a table. It can be either be part of the actual record itself , or it can be an artificial field(one that has nothing to do with the actual record). A primary key can cansist of one or more fields on a table .
When multiple fields are used as a primary key , they are called a composite key. A primary key when creating a table: Using MySQL:

CREATE TABLE Customer
(SID integer;
Last_Name varchar(30),
First_Name varchar(30),
PRIMARY KEY (SID));
SID is unique key field.

Foreign Key:

The SQL INSERT INTO syntax has 2 main forms and the result of either of them is adding a new row into the database table.
The first syntax from of the INSERT INTO SQL clause doesn't specify the columns names where the data will be inserted, but just their values:

INSERT INTO Table1
VALUES(value1, value2, value3...)

The second form of the SQL INSERT INTO command specifies both the columns and the values to be inserted in them:

INSERT INTO Table1
(Column1, Column2, Column3...)VALUES(value1, value2, value3...)

As you might already have guessed, the number of the columns in the second INSERT INTO syntax form must match the number of values into the SQL statement;
otherwise you will get an error.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Ans:

In [5]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp39-cp39-win_amd64.whl (14.2 MB)
     --------------------------------------- 14.2/14.2 MB 11.5 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp39-cp39-win_amd64.whl (527 kB)
     ------------------------------------- 527.0/527.0 kB 34.5 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

import mysql.connector
db_config = {host: 'your_host',user: 'your_user',password: 'your_password',database: 'mydatabase'}
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

try:
    query = "SELECT id, name, age FROM mytable"
    cursor.execute(query)
    result = cursor.fetchall()
    for row in result:
        print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    connection.close()

 this script:

mysql.connector.connect(**db_config) establishes a connection to the MySQL server using the provided connection parameters.
cursor = connection.cursor() creates a cursor object. The cursor is used to execute SQL queries and fetch results.
cursor.execute(query) executes the SQL query specified by the query variable.
cursor.fetchall() retrieves all the rows returned by the query.
The fetched data is then displayed using a simple loop.

cursor() Method:

The cursor() method creates a cursor object, which is a handle for interacting with the database.
This cursor allows you to execute SQL queries, fetch results, and manage transactions.
execute() Method:

The execute() method is used to execute a SQL query.
It takes a SQL query as its argument and sends it to the MySQL server for execution.
After execution, the results (if any) can be fetched using methods like fetchall(), fetchone(), etc.

# Q7. Give the order of execution of SQL clauses in an SQL query.

# Ans:

The order of execution of SQL clauses in a SQL query generally follows a specific sequence.

SELECT: The SELECT clause specifies the columns you want to retrieve from the database.

FROM: The FROM clause indicates the table or tables from which to retrieve the data specified in the SELECT clause.

WHERE: The WHERE clause is used to filter the rows returned by the FROM clause based on a specified condition.

GROUP BY: The GROUP BY clause is used to group rows that have the same values in specified columns into summary rows.

HAVING: The HAVING clause is used to filter the results of a GROUP BY clause based on a specified condition.

ORDER BY: The ORDER BY clause is used to sort the result set by one or more columns, either in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned by the query. The OFFSET clause, when used with LIMIT, is used to skip a specific number of rows before starting to return rows.